@font-face {
  font-family: PlayFair;
  font-weight: 500;
  src: url(../assets/fonts/PlayfairMedium.ttf);
}

@font-face {
  font-family: PlayFair;
  font-weight: 500;
  font-style: italic;
  src: url(../assets/fonts/PlayfairMediumItalic.ttf);
}

@font-face {
  font-family: PlayFair;
  font-weight: 700;
  src: url(../assets/fonts/PlayfairBold.ttf);
}

@font-face {
  font-family: PlayFair;
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/PlayfairBoldItalic.ttf);
}